	<script type="text/template" id="home-mitzvah-template-he">
		<div class="homeMitzvahTitle">
			<b><%- mitzvahName %></b>
		</div><br>
		<div class="hebrew">
			<%= idStringLongHe %><br>
		</div>
	</script>
	<script type="text/template" id="home-mitzvah-template-en">
		<div class="homeMitzvahTitle">
			<b><%- mitzvahNameEn %></b>
		</div><br>
		<div class="english">
			<%= idStringLongEn %><br>
		</div>
	</script>
	<!-- Mitzvos -->
	<script type="text/template" id="mitzvos-template-he">
		<div class="hebrew">
			&rlm;<b><%- count %></b><br>
			<b><%- mitzvahName %></b><br>
			<%= idStringHe %><br>
		</div>
	</script>
	<script type="text/template" id="mitzvos-template-en">
		<div class="english">
			<b><%- count %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%= idStringEn %><br>
		</div>
	</script>
	<script type="text/template" id="mitzvos-selected-template-he">
		<div class="hebrew">
			&rlm;<b><%- count %></b><br>
			<b><%- mitzvahName %></b><br>
			<%= idStringLongHe %><br>
		</div>
	</script>
	<script type="text/template" id="mitzvos-selected-template-en">
		<div class="english">
			<b><%- count %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%= idStringLongEn %><br>
		</div>
	</script>

	<!-- Rambam -->
	<script type="text/template" id="rambam-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b><br>
			<b><%- madahTitle %></b><br>
			<%- bookName %> <%- chapter %>, <%- verse %><br>
			<!--<%- mitzvahTypeHe %>, <%- punishmentHe %>, <%- whoAppliesHe %>-->
		</div>
	</script>
	<script type="text/template" id="rambam-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%- bookNameEn %> <%- chapter %>:<%- verse %><br>
			<!--<%- mitzvahTypeEn %>, <%- punishmentEn %>, <%- whoAppliesEn %>-->
		</div>
	</script>
	<script type="text/template" id="rambam-selected-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahName %></b><br>
			<%- verseText %> (<%- bookName %> <%- chapter %>, <%- verse %>)<br><br>
			<!--<%- mitzvahTypeHe %>, <%- punishmentHe %>, <%- whoAppliesHe %><br><br>-->
			<div class="originalText"><%- originalText %></div><!-- REMOVE -->
		</div>
	</script>
	<script type="text/template" id="rambam-selected-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%- verseTextEn %> (<%- bookNameEn %> <%- chapter %>:<%- verse %>)<br><br>
			<!--<%- mitzvahTypeEn %>, <%- punishmentEn %>, <%- whoAppliesEn %>-->
		</div>
	</script>

	<!-- Ramban -->
	<script type="text/template" id="ramban-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %><%- shihchaNumberHe %></b><br>
			<b><%- mitzvahName %></b><br>
			<%- bookName %> <%- chapter %>, <%- verse %><br>
		</div>
	</script>
	<script type="text/template" id="ramban-template-en">
		<div class="english">
			<b><%- mitzvahNumber %><%- shihchaNumberEn %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%- bookNameEn %> <%- chapter %>:<%- verse %><br>
		</div>
	</script>
	<script type="text/template" id="ramban-selected-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %><%- shihchaNumberHe %></b><br>
			<b><%- mitzvahName %></b><br>
			<%- verseText %> (<%- bookName %> <%- chapter %>, <%- verse %>)<br><br>
			<%- originalText %>
		</div>
	</script>
	<script type="text/template" id="ramban-selected-template-en">
		<div class="english">
			<b><%- mitzvahNumber %><%- shihchaNumberEn %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%- verseTextEn %> (<%- bookNameEn %> <%- chapter %>:<%- verse %>)
		</div>
	</script>

	<!-- Chinuch -->
	<script type="text/template" id="chinuch-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b> (<%- oldMitzvahNumber %>)<br>
			<b><%- mitzvahTitle %></b><br>
			<%- bookName %> <%- chapter %>, <%- verse %>
			<p><%- whoAppliesHe %>, <%- whereAppliesHe %>, <%- whenAppliesHe %>, <%- punishmentHe %>.</p>
		</div>
	</script>
	<script type="text/template" id="chinuch-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b> (<%- oldMitzvahNumber %>)<br>
			<b><%- mitzvahNameEn %></b><br>
			<%- bookNameEn %> <%- chapter %>:<%- verse %>
			<p><%- whoAppliesEn %>, <%- whereAppliesEn %>, <%- whenAppliesEn %>, <%- punishmentEn %>.</p>
		</div>
	</script>
	<script type="text/template" id="chinuch-selected-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b> (<%- oldMitzvahNumber %>)<br>
			<b><%- mitzvahTitle %></b><br>
			<%- verseText %> (<%- bookName %> <%- chapter %>, <%- verse %>)
			<p><b>חייבים</b> <%- whoAppliesHe %>, <%- whereAppliesHe %>, <%- whenAppliesHe %>. <b>עונש</b> <%- punishmentHe %>.</p>
			<p><%- description %></p>
			<p><%- shoresh %></p>
			<p><%- dinim %></p>
			<p><%- whoWhereWhenApplies %></p>
		</div>
	</script>
	<script type="text/template" id="chinuch-selected-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b> (<%- oldMitzvahNumber %>)<br>
			<b><%- mitzvahNameEn %></b><br>
			<%- verseTextEn %> (<%- bookNameEn %> <%- chapter %>:<%- verse %>)<br>
			<p><b>Applies</b> to <%- whoAppliesEn %>, <%- whereAppliesEn %>, <%- whenAppliesEn %>.<br><b>Punishable</b> by <%- punishmentEn %>.</p>
		</div>
	</script>

	<!-- Semag -->
	<script type="text/template" id="semag-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b><br>
			<b><%- semagTitle %></b><br>
			<%- bookName %> <%- chapter %>, <%- verse %><br>
		</div>
	</script>
	<script type="text/template" id="semag-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%- bookNameEn %> <%- chapter %>:<%- verse %><br>
		</div>
	</script>
	<script type="text/template" id="semag-selected-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahName %></b><br>
			<%- verseText %> (<%- bookName %> <%- chapter %>, <%- verse %>)
		</div>
	</script>
	<script type="text/template" id="semag-selected-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahNameEn %></b><br>
			<%- verseTextEn %> (<%- bookNameEn %> <%- chapter %>:<%- verse %>)
		</div>
	</script>

	<!-- Bahag -->
	<script type="text/template" id="bahag-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahTitle %></b><br>
			<%- mitzvahName %><br>
		</div>
	</script>
	<script type="text/template" id="bahag-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahTitle %></b><br>
			<%- mitzvahNameEn %><br>
		</div>
	</script>
	<script type="text/template" id="bahag-selected-template-he">
		<div class="hebrew">
			&rlm;<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahTitle %></b><br>
			<%- mitzvahName %><br>
			<p><%- enNote %></p>
		</div>
	</script>
	<script type="text/template" id="bahag-selected-template-en">
		<div class="english">
			<b><%- mitzvahNumber %></b><br>
			<b><%- mitzvahTitle %></b><br>
			<%- mitzvahNameEn %><br>
			<p><%- enNote %></p>
		</div>
	</script>

	<!-- Compare -->
	<script type="text/template" id="compare-template-he">
		<div class="hebrew">
			&rlm;<b><%- count %>) <%- mitzvahName %></b> (#<%- mitzvahNumber %>)<br>
		</div>
	</script>
	<script type="text/template" id="compare-template-en">
		<div class="english">
			<b><%- count %>) <%- mitzvahNameEn %></b> (#<%- mitzvahNumber %>)<br>
		</div>
	</script>