// Global CSS for the whole app

$eng-font: 'Montserrat';
$heb-font: 'Alef';
$backup-font: Verdana;
$font-weight: 400;

@mixin set-font($whichfont, $fontsize, $lineheight) {
	font: $font-weight #{$fontsize}/#{$lineheight} $whichfont, $heb-font, $backup-font, sans-serif;
}

// Language specific styling (Hebrew/English)
app-root:lang(he) {
	text-align: right;
	.mitzvah {
		text-align: right;
	}

	@include set-font($heb-font, 16px, 1.25);

	#moneiMitzvosList, #pageDetailsText, #cont, #compare {
		direction: rtl;
	}
}

app-root:lang(en) {
	text-align: left;
	.mitzvah {
		text-align: left;
	}

	@include set-font($eng-font, 13px, 1.25);

	#moneiMitzvosList, #pageDetailsText, #cont, #compare {
		direction: ltr;
	}
}