$reg-font: Verdana;
$fancy-font: 'Alef';
$backup-font: $reg-font;
$font-weight: 400;

@mixin set-font($whichfont, $fontsize, $lineheight) {
	font: $font-weight #{$fontsize}/#{$lineheight} $whichfont, "Taamey David CLM", $backup-font, sans-serif;
}

body {
	
}

.hebrew {
	text-align: right;
	@include set-font($fancy-font, 16px, 1.25);
}

.english {
	text-align: left;
	@include set-font($reg-font, 13px, 1.25);
}

#language {
	margin: 0 auto;
	text-align: right;
}

#language-btn {
	padding: 10px 15px;
}

#sorting {
	height: 50px;
	text-align: center;
	@include set-font($reg-font, 18px, 1.25);
}

#sorting a {
	padding: 10px 20px;
	margin: 10px;

	background-color: #eee;
	border-style: solid;
	border-width: 1px;
}

#container {

}

#mitzvos {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

#mitzvos li {
	display: inline-block;
	text-align: right;
	vertical-align: top;
	width: 140px;
	height: 140px;
	background: #f00;
	padding: 10px;
	margin: 5px;
}