$eng-font: 'Montserrat';
$heb-font: 'Alef';
$backup-font: Verdana;
$font-weight: 400;

$aseh-color: #96e864; //#82e346;
$lo-saaseh-color: #e88b64; //#e37546;

$banner-height: 30px;
$banner-height-large: 45px;
$banner-margin: 88px;
$banner-title-width: 265px;
$language-btn-size: 36px;
$banner-bottom-margin: 25px;
$banner-offset: $banner-height-large + $banner-bottom-margin;	// To shift everything down from the fixed banner

@mixin set-font($whichfont, $fontsize, $lineheight) {
	font: $font-weight #{$fontsize}/#{$lineheight} $whichfont, $heb-font, $backup-font, sans-serif;
}

a:link, a:visited, a:hover, a:active {
	color: inherit;
}

a:link {
	//text-decoration: none
}

a:visited {

}

a:hover {

}

a:active {

}

* {	// Reset all user-agent stylesheets
  margin: 0;
  padding: 0;
}

p {
	margin: 1em 0;	// reset to default value
}

body {
	background: url('/images/bg.png');
	margin: 0;
	padding: 0;
}

// Language specific styling (Hebrew/English)
body:lang(he) {
	text-align: right;
	@include set-font($heb-font, 16px, 1.25);

	li {	// override user-agent stylesheets
		text-align: right;
	}
	
	.mitzvahCatHeader {
		font-size: 32px;
	}

	#moneiMitzvosList, #pageDetailsText, #container, #compare {
		direction: rtl;
	}
}

body:lang(en) {
	text-align: left;
	@include set-font($eng-font, 13px, 1.25);

	li {	// override user-agent stylesheets
		text-align: left;
	}

	.mitzvahCatHeader {
		font-size: 28px;
	}

	#moneiMitzvosList, #pageDetailsText, #container, #compare {
		direction: ltr;
	}
}

.homeMitzvahTitle {
	text-align: center;
	font-size: 28px
}

#navLinks {
	text-align: center;
	list-style-type: none;
	overflow: hidden;

	li {
		display: inline-block;
		height: 20px;
		line-height: 20px;
		padding: 5px 10px;
		margin: 0px 5px;
		background: #efefef;
		cursor: pointer;
	}

	.toggled {
		background-color: #99c2ff;
		font-weight: 700;
	}
}

#sorting {
	@extend #navLinks;
}

header {
	background: url('/images/banner.png');
	height: $banner-height-large;
	position: fixed;	// Stay at the top of the page
	top: 0;
	left: 0;
	right: 0;		// The whole width
	z-index: 100;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
	border-bottom: 2px solid #eee;

	#title, nav {
		float: left;
	}

	#title, #languageBtn {
		@include set-font($heb-font, 32px, 1.25);
		font-weight: 700;
	}

	#title {
		margin-left: $banner-margin;
		width: $banner-title-width;
		line-height: $banner-height-large;
		color: #fff;

		a:link {
			position: relative;		// Needed for z-index
			z-index: 1;				// Because the nav is shifted left, it overlaps the title, preventing the link from being clickable. Make it in front

			text-decoration: none;
		}
	}

	nav {
		margin-top: 17px;
		width: calc(100% - #{$banner-margin + $banner-title-width + $language-btn-size + $banner-margin});		// Fill remaining width
		height: $banner-height / 2;		// Need to set this since child is absolute, need explicit height
		line-height: $banner-height / 2;

		#moneiMitzvosList {
			@extend #navLinks;
			transform: translateX(-$banner-margin);
		}
	}

	#languageBtn {
		position: absolute;
		right: $banner-margin;
		top: 50%;
		transform: translateY(-50%);

		width: $language-btn-size;
		height: $language-btn-size;
		line-height: $language-btn-size;

		background: #efefef;
		text-align: center;
		cursor: pointer;
	}
}

#pageDetails, #container {
	top: $banner-offset;
}

#pageDetails {
	position: relative;
	margin-bottom: 25px;
}

#pageDetailsText {
	margin: 0 auto;
	width: 800px;
	padding-bottom: 10px;

	font-size: 18px;
	text-align: justify;
	text-align-last: center;
}

#container {
	position: relative;
}

#compare {
	position: absolute;		// ??? allows each column to have its own scroll bar (see #compareSection height)
	top: $banner-offset + 65px;
	bottom: 0;		// Let's the compare div fill the rest of the screen
	width: 100%;
	display: none;

	#titleSection {
		height: 25px;
		text-align: center;
	}

	#leftTitle, #middleTitle, #rightTitle {
		@extend #titleSection;
	}

	#compareSection {
		position: relative;
		float: left;
		overflow-y: scroll;
		height: 100%;		// @todo: make toggle button to comment this out ("lock columns")
		width: percentage(1/3);

		li {
			cursor: initial;
		}
	}

	#left, #middle, #right {
		@extend #compareSection;
	}
}

#mitzvos {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style-type: none;

	li {
		display: inline-block;
		box-shadow: 2px 2px 5px #aaa;
		overflow-y: auto;
		vertical-align: middle;
		width: 140px;
		height: 140px;
		background: #000;
		padding: 10px;
		margin: 5px;
		cursor: pointer;
		transition: width 0.5s, height 0.5s ease;
	}

	/* @todo: get it to work on all browsers. see https://css-tricks.com/the-current-state-of-styling-scrollbars */;
	li::-webkit-scrollbar {
    	width: 12px;
	}

	li::-webkit-scrollbar-track {
	    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}

	li::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

	.aseh {
		background: $aseh-color;
	}

	.loSaaseh {
		background: $lo-saaseh-color;
	}

	.selected {
		width: 250px;
		height: 250px;
		transition: width 0.5s, height 0.5s ease;
	}

	.originalText {
		white-space: pre-wrap;
	}
}

.mitzvos {		/* For when there are multiple uls of mitzvos, the one to add to is #mitzvos, and the rest are styled the same */
	@extend #mitzvos;
}

#leftMitzvos, #midMitzvos, #rightMitzvos {
	@extend #mitzvos;

	li {
		width: 80%;
		height: 40px;
	}
}

.mitzvahCatHeader {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
	font-weight: 900;
}